@font-face {
  font-family: IRANSemi;
  src: url('../fonts/IRANSemiBold.eot');
  src: url('../fonts/IRANSemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IRANSemiBold.woff') format('woff'),
       url('../fonts/IRANSemiBold.ttf') format('truetype');
  font-weight: normal;
}
body {
  width: 100vw;
  height: 100vh;
  padding:0 ;
  margin:0;
}

a{
  text-decoration: none;
}
*{
    font-family: 'IRANSemi';
}
#root{
  width: 100vw;
  height: 100vh;
}